@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* color */
$primary-color: #ffffff;
$secondary-color: #ee0033;
$secondary-color-hover: #be0129;
$primary-color-text: #020202;
$secondary-color-label: #ffffff;
$color-button-1: #f0f2f5;
$shadow-button:  1px 1px 10px #5e8ed6;
$shadow-primary-card: 0px 0px 10px rgba(0, 0, 0, 0.315);
$shadow-second-card: 0px 0px 5px rgba(0, 0, 0, 0.144);
$liner-gradient: linear-gradient(to bottom, #f85478 5%, #ffff 90%);

$font-family-body: 'Poppins';
$font-family-heading: 'Roboto';