@import './varible';

.button {
  display: flex;
  min-width: 150px;
  width: 100%;
  height: 100% ;
  gap: 5px;
  padding: 10px 10px;
  justify-content: center;
  align-items: center;
  transition: 0.5s linear all;
  outline: none !important;
  cursor: pointer;
}

.button--type1 {
  border-radius: 100px;

}

.button--type2 {
  border-radius: 15px;
}

.button--bg1 {
  background-color: $secondary-color;
  color: $primary-color;
  &:hover {
    background-color: $secondary-color-hover;
  }
}

.button--bg2 {
  background-color: $primary-color;
  border: $secondary-color 1px solid;
  color: $secondary-color;
  &:hover {
    background-color: $secondary-color;
    color: $primary-color;
  }
}