@import './varible';

.card-item-component {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 10px;
}

.card-item-famous {
  height: 300px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: $shadow-button;
}

.card-item-component-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 30px;
    text-transform: capitalize;
    color: $primary-color;
  }
}

.famous-destination {
  .card-item-component-inner {
    left: 100px;
    top: 80%;
    z-index: 2;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    h1 {
      display: inline-block;
      font-size: 30px;
      text-transform: capitalize;
      color: $primary-color;
    }
    span {
      display: inline-block;
      font-size: 20px;
      text-transform: capitalize;
      color: $primary-color;
    }
  }
}

.card-item-famous {
  .card-item-component-inner {
    position: unset;
    width: 100%;
    left: unset;
    top: unset;
    transform: translate(0%, 0%);
    z-index: unset;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    height: 100px;
    padding: 10px;

    h1 {
      font-size: 25px;
      text-transform: capitalize;
      color: $primary-color-text;
      width: 100%;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    span {
      color: $primary-color-text;
      width: 100%;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.home-secion-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.card-item-component-image {
  filter: brightness(70%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.6s linear;
  &:hover {
    transform: scale(1.2);
  }
}
.card-item-famous { 
  .card-item-component-image {
    height: 220px !important;
    border-radius: 10px 10px 0 0;
    &:hover {
        transform: scaleX(1.1);
    }
  }
}

.skeleton-card-slide {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  filter: brightness(100%);
}