@import './varible';
@import './function';

.home-section {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  margin-bottom: 80px;
  @include mobile() {
    padding: 0px 26px;
  }
}

.home-section-component {
  padding: 50px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  gap: 30px;
  @include mobile() {
    padding: 30px 0px 5px;
  }
}


.home-section-title {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  &::after {
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 2px;
    background-color: $secondary-color;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.home-secion-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.famous-destionation-wrapper {
  width: 100%;
  height: auto;
}

.home-section-suggest-place__text {
  grid-area: p;
  display: flex;
  margin: auto;
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 500px;
}

.home-section-suggest-place__img {
  height: 150px;
  width: 150px;
  grid-area: i;
}

.home-section-suggest-place__button-suggest-palace {
  width: 300px;
  grid-area: b;
  height: 40px;
  padding: 20px;
  color: $primary-color;
  font-size: 18;
  text-transform: uppercase;
  margin: auto;
  border-radius: 10px;
}

.home-section-suggest-place {
  width: 100%;
  display: grid;
  grid-template-areas: 'i p'
                       'i b';
  grid-template-columns: 20% 80%;
}

@media screen and (max-width: 1200px) {
  .famous-destionation-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 989px) {
  .famous-destionation-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .home-section-suggest-place {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .famous-destionation-wrapper {
    grid-template-columns: 1fr;
  }
}