@import './varible';

.swiper {
  width: 100%;
  height: 100%;
  position: relative !important;
  padding-bottom: 20px !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 30px !important;
  height: 30px !important;
  transform: translateY( 38%) !important;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(48, 34, 34) !important;
  border-radius: 50% !important;
  background-color: $color-button-1 !important;
  box-shadow:  $shadow-button !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: 15px !important;
  font-weight: 500 !important;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}

.my-slide {
  width: 100%;
  position: relative;
}

.my-slide--pupose-need{
  height: 250px;
}

.my-slide--near-you{
  height: 380px;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: $secondary-color !important;
}

swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -7px !important;
  left: 0;
  width: 100%;
}

@media screen and (max-width: 989px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

.login__social-contain {
  
}