@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';
:root {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::selection {
  background-color: #ee0033;
  color: #ffffff;
}


a {
  text-decoration: none;
}

html {
  font-size: 62,5%;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 6px;
  background-color: #ee003428;
}

*::-webkit-scrollbar-thumb {
  background-color: #ee0033;
  border-radius: 25px;
}

div {
  color:#1a1a1a;
}

button {
  color:rgba(255, 255, 255, 1);
}

body {
  margin: 0;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    color: #f9f9f9;
  }
}

.MainLayout,
.App {
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  overflow-x: hidden;
  background-color: #ffffff;
}

.modal-dropdown-enter {
  opacity: 0;
}

.modal-dropdown-enter-active {
  opacity: 1;
  transform-origin: 100% 0;
  transition: opacity 300ms;
}

.modal-dropdown-exit {
  opacity: 1;
}

.modal-dropdown-exit-active {
  opacity: 0;
  transform-origin: 100% 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

#overlay-component {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  background-color: #24242483;
  backdrop-filter: blur(10px);
}

.sidebar-enter {
  transform: translateX(100%);
}

.sidebar-enter-active {
  transform: translateX(0%);
  transform-origin: 100% 50%;
  transition: transform 300ms;
}

.sidebar-exit {
  transform: translateX(0%);
}

.sidebar-exit-active {
  transform: translateX(100%);
  transform-origin: 100% 50%;
  transition: transform 300ms;
}

.sidebar-enter {
  transform: translateX(100%);
}

.sidebar-enter-active {
  transform: translateX(0%);
  transform-origin: 100% 50%;
  transition: transform 300ms;
}

.sidebar-exit {
  transform: translateX(0%);
}

.sidebar-exit-active {
  transform: translateX(100%);
  transform-origin: 100% 50%;
  transition: transform 300ms;
}

input, textarea {
  background-color: #ffffff;
  color: black;
}

